pygame~=2.6.0
flask~=3.0.3
PyYAML~=6.0.2
tornado~=6.4.1
numpy~=2.0.1
pvporcupine~=3.0.3
pvrecorder==1.2.0
PyAudio~=0.2.14
APScheduler~=3.10.4
requests~=2.32.3
watchdog~=5.0.0
aiofiles~=24.1.0
aiohttp~=3.10.5
openai==1.42.0
pydub~=0.25.1
python-dateutil~=2.9.0.post0
nltk~=3.9.1